header{
    text-align: center;
    text-shadow: 1px 1px 2px black

}

section{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: auto;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

div{
    padding: 10px;
    font-size: 1.2em;
}
footer{
    color: black;
    text-align: center;
    font-style: italic
}